# Dependencies in Koalas. When you update don't forget to update setup.py and install.rst in docs.
pandas>=0.23.2,<1.0
pyarrow>=0.10,<0.15
matplotlib>=3.0.0
numpy>=1.14

# Optional dependencies in Koalas.
mlflow>=1.0

# Dependency issues
protobuf<3.9.0

# Documentation build
sphinx==2.0.1
nbsphinx
numpydoc==0.8
pypandoc
ipython

# Linter
mypy
flake8

# Test
pytest
pytest-cov
scikit-learn
openpyxl
xlrd
