# Dependencies in Koalas. When you update don't forget to update setup.py and install.rst in docs.
pandas>=0.23.2,<1.2.0
pyarrow>=0.10
numpy>=1.14,<1.20.0

# Optional dependencies in Koalas.
mlflow>=1.0
plotly>=4.8
matplotlib>=3.0.0,<3.3.0

# Documentation build.
sphinx>=2.0.0,<3.1.0
nbsphinx
# Temporarily exclude nbconvert 6.0 that is a dependency from nbsphinx.
# It causes Read the Docs build fails
nbconvert!=6.0.*
nbformat<5.1
numpydoc>=1.1.0
pypandoc
ipython
pydata-sphinx-theme

# Linter
mypy
flake8

# Code formatter. Only support Python 3.6+
black==19.10b0

# Test
pytest
pytest-cov
scikit-learn
openpyxl
# xlrd dropped xlsx support. pandas 0.25 added a way to continue supporting xlsx
# by leveraging openpyxl, see also
# https://stackoverflow.com/questions/65254535/xlrd-biffh-xlrderror-excel-xlsx-file-not-supported
# We can remove this upperbound when our minimum pandas version is 0.25+.
xlrd<2.0.0

# PIP only dependency
sphinx-plotly-directive
