# Read the Docs seems having JDK 11 by default; however,
# Spark versions up to 2.4 do not support JDK 11 yet.
# Spark 3 will support it so we can remove this entire file
# when we support Spark 3.
channels:
  - bioconda
  - conda-forge
dependencies:
  - java-jdk<=8
  - pip:
    # In Read the Docs, seems installing 'requirements-dev.txt' seems ignored when Conda is used.
    - -r requirements-dev.txt

